
<html>
<head>
<title>Site1</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<form action="" method="post">
  <div class="imgcontainer">
    <img src="static/logo.jpeg" alt="Avatar" class="avatar" width="50px",height="50px">

	<h2>Like, Share, </h2><h1>Comment</h1> 
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" value="{{
          request.form.uname }}" required autofocus="">

    <label for="psw"><b>Password</b><!--username=hacktheflag & password=hackersofveltech--></label>
    <input type="password" placeholder="Enter Password" name="psw" value="{{
          request.form.psw }}" required>

    <button type="submit">Login</button>
  </div>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
</form>


<h2>Developed By:Manendra Nath Shukla</h2>
</body>
</html>
